# Virtual environment
env/
venv/

# Byte-compiled / cached files
__pycache__/
*.py[cod]

# Database files
*.sqlite3

# Environment variables
.env

# Log files
*.log

# Static and media files
/staticfiles/
/media/

# IDE-specific files (VS Code, PyCharm)
.vscode/
.idea/
